.page-section[data-v-66e27cf4]{padding:var(--theme-space-xl) 0}.page-section__title[data-v-66e27cf4]{color:var(--theme-text-primary);font-size:var(--theme-font-xl);font-weight:600;margin-bottom:var(--theme-space-md)}
